<div class="item form-container">
    <h2>Text Generation</h2>
    <form method="post">
        <input id="textgenInput" name="textgenInput" type="text" placeholder="Please provide input"
            value="What is the meaning of life.">
        <button id="textgenButton" name="textgenButton" type="button">Get Response</button>
    </form>
    <div class="textgenResponse" id="textgenResponse"></div>
</div>